* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 78, 84, 0.7), rgba(3, 89, 95, 0.7)),url(images/banner_1.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 100px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    display: block;
    margin: auto;
    background: #f50606;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text_box {
    text-align: center;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}
.text_box h1 {
    font-size: 65px;
}
.text_box p {
    margin: 10px 0 40px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.hero_button {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 13px;
    padding: 12px 34px;
    border: 1px solid #fff;
    background: transparent;
    text-decoration: none;
    cursor: pointer;

}
.hero_button:hover {
    border: 1px solid #f50606;
    color: #fff;
    background: #f50606;
    transition: 0.9s;
}

nav .fa {
    display: none;
}

/*-----course-----*/
#course {
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}
#course h1 {
    font-size: 35px;
    font-weight: 700;
}
#course p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #777;
    padding: 10px;
}
.row {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.course-col {
    background: #ffe7e7;
    box-sizing: border-box;
    border-radius: 10px;
    flex-basis: 31%;
    padding: 20px 12px;
    margin-bottom: 5%;
}
h3 {
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

/*-----Campus-----*/
#campus {
    width: 80%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}
#campus h1 {
    font-size: 35px;
    font-weight: 700;
}
.campus-col {
    border-radius: 10px;
    flex-basis: 32%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.campus-col img {
    width: 100%;
    display: block;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background-color: rgba(255, 32, 32, 0.6);
}
.layer h3 {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    transform: translateX(-50%);
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*-----Facilities-----*/
.facilities {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.facilities h1 {
    font-size: 35px;
    font-weight: 700;
}
.facilities-col {
    flex-basis: 31%;
    margin-bottom: 5px;
    text-align: left;
}
.facilities-col img {
    width: 100%;
    border-radius: 10px;
}
.facilities-col p {
    padding: 0;
}
.facilities-col h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

/*------testimonials-----*/
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials h1 {
    font-size: 35px;
    font-weight: 700;
}
.testimonials-col {
    flex-basis: 44%;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    padding: 25px;
    background: #fddcdc;
    display: flex;
}
.testimonials-col img {
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 5px;
}
.testimonials-col p {
    padding: 0;
}
.testimonials-col h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.testimonials-col .fa {
    color: #f5a106;
}

/*-------about-----*/
#about {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
#about h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
#about img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
#about p {
    padding: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/*-------Call to action-----*/
#contact {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
#contact p {
    padding: 0;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
}
#contact .cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/banner_2.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 50px;
    border-radius: 10px;
    margin:20px auto;
    text-align: center;
    height: auto;
}
#contact .cta h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.contact-left {
    flex-basis: 30%;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #f70000;
    transform: translate(-2px);
}
.btn_btn {
    display: inline-block;
    background: #f50606;
    color: #fff;
    font-size: 13px;
    padding: 12px 34px;
    border: 1px solid #f50606;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.contact-left p {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}
.contact-left p i {
    color: #f51717;
    margin-right: 15px;
    font-size: 25px;
}
.contact-right {
    flex-basis: 65%;
    margin-top: 0px;
    margin-bottom: 50px;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background:#5f5e5e8a;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 6px;
}

/*-----footer-----*/
footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
h3 span {
    color: #f50606;
}
footer p {
    font-size: 14px;
    font-weight: 300;
    color: #5e5d5d;
    padding: 10px;
    line-height: 5px;
}










@media(max-width: 1000px) {
    .text_box h1 {
        font-size: 50px;
        font-weight: 800;
    }
    .testimonials-col {
        flex-basis: 40%;
    }
    .facilities-col h3 {
        font-size: 16px;
    }
    #contact .cta h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 30px;
    }
    .contact-left p {
        margin-top: 10px;
        font-size: 10px;
    }
    .contact-left p i {
        font-size: 15px;
        margin: 10px;
    }
    .social-icons {
        margin-top: 10px;
    }
    .social-icons a {
        font-size: 20px;
        margin-right: 5px;
    }
    .btn_btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    form input, form textarea {
        width: 80%;
        border: 0;
        outline: none;
        background:#5f5e5e8a;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        border-radius: 6px;
        margin-top: 25px;
        margin-bottom: 0;
    }

}

@media(max-width: 700px) {
    .text_box h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        position: absolute;
        background-color: #f50606;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
    .course h1 {
        font-size: 30px;
    }
    .course-col {
        margin-bottom: 20px;
    }
    .facilities-col {
        margin-bottom: 20px;
    }
    .testimonials-col {
        margin-bottom: 20px;
    }
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 10px;
    }
    #about {
        padding-top: 100px;
    }
    #contact .cta {
        padding: 0;
        margin-left: 0;
    }
    #contact .cta h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contact-left p {
        margin-top: 10px;
        font-size: 12px;
    }
    .contact-left p i {
        font-size: 15px;
        margin: 5px;
    }
    .social-icons {
        margin-top: 10px;
    }
    .social-icons a {
        font-size: 20px;
        margin-right: 5px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    form input, form textarea {
        width: 80%;
        border: 0;
        outline: none;
        background:#5f5e5e8a;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        border-radius: 6px;
    }
    footer p {
        font-size: 12px;
    }
}
/*#msg {
    color:#008268;
    margin-top: -40px;
    display: block;
}*/













